
/* Hero image for contact page */ 
.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/images/hero-image-contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:650px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5px;
}

/*other*/ 
